footer {
    background-color: rgb(122, 194, 8);
    color: rgb(233, 227, 227);
}

.logotwitter {
    width: 30px;
    height: 30px;
}

.logoinstagram {
    width: 30px;
    height: 30px;
}

.logofacebook {
    width: 30px;
    height: 30px;
}